header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    margin: 0 0 0 30%;
    color: black; 
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:black;
}

.nav-bar a:hover{
    border-bottom: #3b84f6;
    border-style: solid;
    padding-bottom: 5%;
    color: #3b84f6;
}

#home-id {
    color: #3B84F6;
}